bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea/.idea.BoricaNet/.idea/

.vs/BoricaNet/DesignTimeBuild/

.vs/BoricaNet/FileContentIndex/

.vs/ProjectEvaluation/

.vs/BoricaNet/v17/

.vs/
